/* ------CSS RESET------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #355c7b;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
input {
  border: none;
}
::placeholder {
  color: #355c7b;
  opacity: 0.4;
  font-size: 20px;
  padding-left: 10px;
}
p {
  margin: 10px 0;
}
button {
  cursor: pointer;
}

/* ------UTILITIES------ */
.blue-bg {
  background-color: #355c7b;
}
.orange-bg {
  background-color: #f79106;
}
.grey-bg {
  background-color: #94a9b4;
}
.antiquewhite-bg {
  background-color: #eaeada;
}
.blue-text {
  color: #355c7b;
}
.antiquewhite-text {
  color: #eaeada;
}
.grey-text {
  color: #94a9b4;
}
.btn {
  height: 40px;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-lg {
  width: 350px;
}
.btn-md {
  width: 230px;
}
.btn-sm {
  width: 100px;
  font-size: 16px;
  height: 25px;
  text-transform: uppercase;
}
.size-32 {
  font-size: 32px;
}
.input {
  border-radius: 10px;
  color: #355c7b;
  background-color: #eaeada;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  height: 70px;
}
.display-flex {
  display: flex;
}
.danger {
  border: 1px solid red;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide {
  display: none;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ------START OF PRODUCTS.HTML------ */
.products-container {
  background-color: #eaeada;
  align-items: center;
}
.products-pageContent {
  width: 100%;
  align-items: center;
}

/* Start of NavHeader */
.header {
  width: 100%;
  height: 15vh;
  justify-content: space-between;
  padding: 0 6vh;
}

.logo {
  height: 70%;
  margin: 30px 10px 10px 10px;
  align-self: center;
}

.header > .logo > img {
  height: 100%;
}

.header-top-right {
  width: 20vw;
  align-items: center;
  padding-right: 5%;
  justify-content: space-between;
}

.LoginBtn {
  height: 50%;
  width: 40%;
  max-width: 150px;
  font-size: 10px;
  padding: 0;
}

.eclipse {
  width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0vh 3vh
;
}

.eclipse > img {
  margin-top: 1%;
  height: 60%;
}

.eclipse:hover {
  background-color: rgba(0, 0, 0, 20%);
}
.signout-btn {
  width: 50%;
}

/* Start of Navbar */
.navbar {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.navElements li {
  height: 100%;
  width: 15%;
  display: inline;
}

.navElements > li > button {
  height: 100%;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 100%;
}

.navElements > li > button:hover {
  background-color: rgba(0, 0, 0, 20%);
  cursor: pointer;
}
/* End of Navbar */

/* Start of Hero Section */
.heroSection {
  margin-top: 5vh;
  width: 80vw;
  height: 70vh;
  background-image: url("/client-frontend/assets/Hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  display: flex;
}

.fade {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 145, 6, 50%);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.heroSection .heroContent {
  width: 70%;
  text-align: center;
}

.heroSection .heroContent > p {
  font-size: 8vh;
  color: white;
}

.heroSection .heroContent > input {
  height: 8vh;
  width: 60%;
  margin-top: 3vh;
  padding-left: 10px;
  border-radius: 4vh;
  font-size: 3vh;
  text-align: start;
}

.heroSection .heroContent > input::placeholder {
  color: #94a9b4;
}
/* End of Hero Section */

/* Start of Search Section */
.search {
  width: 100%;
  padding: 0 2vh;
}

.search > div {
  height: fit-content;
  width: fit-content;
  align-self: start;
}

.search > div > button {
  width: 16vh;
  height: 8vh;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  font-size: 3vh;
  border: none;
  cursor: pointer;
  margin-top: 3vh;
}
/* End of Search Section */

/* Start of Products Grid Section */
.productSection {
  margin: 8vh 0;
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
  align-items: flex-end;
  justify-items: center;
}
.sectionTitle {
  font-size: 8vh;
  margin-top: 8vh;
}
.wrapper {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productCard {
  width: 40vh;
  min-height: 55vh;
  margin: 2vh;
  padding: 2vh 1.5vh;
  flex-grow: 1;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 70% 30%;
  transition: 0.3s ease-in-out;
}
.productMainImage {
  height: 100%;
  width: 100%;
}
.productCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.productInfo {
  display: grid;
  row-gap: 1vh;
  padding: 4% 3%;
  font-size: 3vh;
}
.productInfo:nth-child(2) > :nth-child(1) {
  font-size: 4vh;
  margin: 0;
}
.bottom {
  align-self: start;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.like {
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  background-color: rgb(182, 182, 182);
  align-self: start;
}
.productCard:hover {
  cursor: pointer;
  background-color: #355c7b;
}
/* End of Products Grid Section */

/* Start of Advertisment Section */
.adSection {
  display: flex;
  margin: 2vh 0;
  width: 100%;
  height: 40vh;
  background-color: #355c7b;
}
.productAdImage {
  height: 100%;
  width: 50%;
  background-color: white;
}
.productAdImage > .fade {
  border-radius: 0%;
}
.productAdImage > .fade > img {
  height: 100%;
  width: 100%;
}
.adInfo {
  font-size: 5vh;
  justify-content: space-around;
  width: 50%;
}
.adSeller {
  margin: 4vh 0 0 4vh;
  align-self: start;
}
.AdView {
  align-self: end;
  margin: 0 4vh 4vh 4vh;
}
.AdView > button {
  width: 80%;
  font-size: 3vh;
}
/* End of Advertisement Section */

/* Start of Footer */
.footer {
  width: 100%;
  height: 40vh;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}
.footerLogo {
  margin: 8vh 0;
  width: 30%;
  height: 60%;
  align-items: center;
}
.footerLogo > img {
  width: 70%;
}
.footerLogo > p {
  margin-top: 4vh;
  font-size: 3vh;
}
.break {
  width: 100%;
  height: 4vh;
}
.footerElements {
  width: 30%;
  align-items: center;
  justify-content: center;
}
.footerElements > ul > li {
  margin: 5vh 0;
  font-size: 3.5vh;
  color: antiquewhite;
}
.footerMessage {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: start;
  justify-content: center;
}
.footerMessage > p {
  font-size: 3.5vh;
  color: antiquewhite;
}
.footerMessage > input {
  width: 70%;
  font-size: 3vh;
  height: 15vh;
  border-radius: 20px;
  margin: 2vh 0;
  background-color: antiquewhite;
}
.footerMessage > button {
  height: 8vh;
  width: 20vh;
  font-size: 4vh;
}
/* End Of Footer */
/* ------END OF PRODUCTS.HTML------ */

/* ------START OF REGISTER.HTML STYLING------ */
.main {
  display: flex;
  text-align: center;
  font-weight: bold;
  height: 100vh;
}
.main .logo {
  width: 350px;
  height: 290px;
  margin-bottom: 0;
}

/* Left Section */
.left-section {
  width: 50%;
}
.left-section .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.left-section .register {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #355c7b;
}
.left-section .bottom {
  height: 50%;
}
.left-section .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-section .bottom .top {
  gap: 2em;
}
.left-section .bottom .text {
  text-align: center;
  font-size: 22px;
  opacity: 0.8;
  padding: 0 20px;
}

/* Right section */
.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
}
.right-section .logo {
  position: absolute;
  top: 0;
}
.right-section .main-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  border-top: 1px solid #355c7b;
  border-bottom: 1px solid #355c7b;
}
/* Modal */
.register-modal {
  height: 90%;
  width: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* login modal */
.login-content {
  display: flex;
  justify-content: center;
}
.login-content .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 50%;
  width: 80%;
}
.register-modal .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Signup Modal */
.signup-modal {
  justify-content: space-evenly;
  height: 90%;
  gap: 1em;
  padding-top: 10px;
}
.signup-modal .input {
  height: 55px;
  margin-bottom: 10px;
  width: 80%;
}
.signup-modal .input::placeholder {
  font-size: 18px;
}

.signup-modal .signup-img {
  border-radius: 50%;
  width: 100px;
  cursor: pointer;
}

/* Seller login modal */
.seller-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 85%;
}
.seller-login .input {
  height: 60px;
  margin-bottom: 10px;
}
.seller-login .input::placeholder {
  font-size: 18px;
}
.seller-login .title {
  font-size: 35px;
}
.right-section .icon {
  width: 110px;
  height: 110px;
}
.seller-login .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Utility - placed at end to overwrite all previous display */
.display-none {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  .mobile-columns {
    flex-direction: column;
  }
  .mobile-width {
    width: 100%;
  }
  .right-section {
    height: 100%;
  }
  .modal-mobile {
    width: 70%;
  }
  .left-section .register {
    width: 90%;
  }
  .register .btn {
    width: 90%;
  }
}

/* ------END OF REGISTER.HTML STYLING------ */

/* -------START OF CART HTML STYLING------ */
/* Start of Cart container*/
.cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cart-page h1 {
  text-align: center;
}
/* Start of Cart container */
.cart-page .cart-container {
  width: 90%;
}
.cart-container .cart-titles {
  min-height: 15%;
}
.cart-container .cart-titles ul {
  display: flex;
  justify-content: center;
  gap: 8.5em;
  align-items: center;
  height: 100%;
  font-size: 18px;
}
.cart-container .cart-items {
  border: 2px solid #355c7b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 520;
}
/* Cart single item */
.cart-item {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #355c7b;
}
.cart-item .item-remove {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}
.cart-item .item-info {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.cart-item .item-info img {
  width: 100px;
  width: 50px;
  border: 8px;
}
.cart-item .item-quantity {
  width: 13%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .item-quantity .quantity-box {
  border: 2px solid #355c7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  border-radius: 5px;
  font-weight: bold;
}
.quantity-box .decrement,
.quantity-box .increment {
  width: 25%;
  height: 100%;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: bolder;
  cursor: pointer;
}
.quantity-box .quantity {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-right: 2px solid #eaeada;
  border-left: 2px solid #eaeada;
}
.cart-item .price-item {
  width: 20%;
  text-align: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.cart-item .discount-code {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px solid #355c7b;
  background-color: transparent;
  height: 40px;
  width: 200px;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 16px;
}
.cart-item .discount-code::placeholder {
  font-size: 16px;
}
.cart-item .item-total {
  width: 13%;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cart single item */
/* End of Cart container */

/* End of Cart container */

/* Start of Cart checkout */
.cart-btn {
  border: none;
  height: 40px;
  width: 130px;
  background-color: #355c7b;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
}
.cart-checkout {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-checkout .cart-total {
  height: 40px;
  width: 250px;
  font-weight: bolder;
  border-radius: 7px;
  display: flex;
  font-size: 32px;
}

.cart-checkout .checkout-bottom {
  text-align: end;
  width: 10%;
}
.cart-checkout .checkout-bottom .checkout-submit {
  width: 150px;
}
/* End of Cart checkout */

/* CART MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  .cart-page {
    gap: 3em;
    justify-content: flex-start;
  }

  .cart-container .cart-titles ul {
    font-size: 15px;
    gap: 0.8em;
  }
  .cart-item {
    font-size: 16px;
  }
  .cart-container .cart-item .quantity-box {
    flex-direction: column;
    margin-left: 40px;
  }
  .cart-container .cart-item .discount-code {
    width: 20%;
  }
  .cart-container .cart-item .discount-code::placeholder {
    font-size: 10px;
  }
  .cart-item .quantity-box .quantity {
    width: 100%;
  }
  .cart-checkout {
    margin-top: 30px;
    width: 90%;
  }
  .cart-checkout .checkout-top {
    width: 90%;
  }
  .cart-checkout .checkout-bottom {
    width: 90%;
  }
}

/* -------END OF CART HTML STYLING------ */

/* ------START OF 'SHOW.HTML' STYLING------ */
/* main-hero: */
.main-show {
  background: #eaeada;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  height: 90vh;
}
/* main-hero: Left-Images Section */
.show-item-images {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  display: flex;
}
.show-item-images img {
  border: 1px solid #355c7b;
  background-color: white;
}
.show-item-images .main-img {
  width: 500px;
  height: 70%;
  border-radius: 21.6px;
}
.show-item-images .secondary-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  gap: 2em;
}
.show-item-images .secondary-images img {
  height: 80%;
  width: 18%;
  border-radius: 13.63px;
}
/* main-hero: Right-item-info Section */
.show-item-info {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.2em;
}
.show-item-info .name,
.show-item-info .price {
  font-size: 40px;
}
.show-item-info .category {
  font-weight: 500;
  font-size: 22px;
}
.show-item-info img {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
.light-text {
  font-size: 20px;
  font-weight: 100;
}
.show-item-info .condition .price {
  margin-top: 10px;
  display: block;
}

.cart-button {
  border: none;
  width: 245px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.show-item-info .buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.show-item-info .buttons-second {
  display: flex;
}
.show-item-info .buttons-second .fav-button {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: none;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-left: 5px;
}
.show-item-info .buttons-second .fav-button img {
  margin-right: 5px;
}
.show-item-info .buttons-second img {
  width: 22px;
  height: 22px;
  margin-bottom: 2px;
}

/* Description and seller info section */

.description-section {
  min-height: 200px;
  border-top: 2px solid #94a9b4;
  border-bottom: 2px solid #94a9b4;
}
.description-section .buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
  height: 35px;
}
.description-section .buttons button {
  margin: 0;
  min-width: 25%;
  border: none;
  font-size: 18px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #94a9b4;
  border-top: none;
}
.description-section .buttons button:hover {
  cursor: pointer;
}
.description-section .description {
  padding: 20px 0;
  min-width: 50%;
  margin-left: 35px;
  font-size: 20px;
  line-height: 25px;
}
.bold {
  font-weight: bold;
}
.upper {
  text-transform: uppercase;
}
/* Start Of Show Media queries */

/* End Of Show Media queries */
/* ------END OF 'SHOW.HTML' STYLING------ */
@media only screen and (max-width: 900px) {
  .main-show {
    flex-direction: column;
    align-items: center;
  }
  .show-item-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }
  .show-item-info {
    width: 89%;
    gap:0.8em;
  }
  .show-item-info .buttons {
    align-items: flex-end;
  }
  .show-item-info .buttons-second .fav-button:first-child {
    margin-left: 0;
  }
  .show-item-images .secondary-images {
    flex-direction: column;
  }
  .show-item-images .main-img {
    width: 60%;
    margin-left: 50px;
  }
  .show-item-images .secondary-images img {
    width: 30%;
    height: 70px;
  }

  .description-section {
    margin-top: 20px;
  }
  .description-section .seller-info {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
  }
  .description-section .seller-info h2 {
    font-size: 25px;
  }
  .description-section .seller-info .shop-name {
    font-size: 25px;
    text-transform: uppercase;
  }
}
/* ------START OF PROFILE.HTML STYLING-------- */
/* Start of left profile Section styling */
.main-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.main-profile img {
  border-radius: 50%;
}
.main-profile .left-profile {
  padding: 20px;
  width: 40%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  margin-top: 20px;
}
.main-profile .left-profile .edit-button {
  text-transform: uppercase;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 14px;
  font-size: 18px;
}
.main-profile .left-profile img {
  width: 200px;
}
.main-profile .left-profile .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.main-profile .left-profile .top-left {
  text-align: center;
  margin-bottom: 10px;
}
.main-profile .left-profile .top-left h2 {
  margin-top: 10px;
  color: #355c7b;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 20px;
}
.main-profile .left-profile .user-bio {
  font-size: 20px;
  line-height: 40px;
  width: 80%;
  margin-top: 20px;
}
/* End of left profile Section styling */

/* Start of right profile section styling (messages-section) */
.main-profile .main-messages {
  margin-top: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  width: 40%;
  overflow: scroll;
  border-radius: 20px;
}
.main-messages .chat-boxes {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}
.main-profile .main-messages h2 {
  text-align: center;
  margin-bottom: 30px;
}
.main-messages .chat img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.main-messages .single-chat {
  width: 80%;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid #355c7b;
  border-radius: 10px;
  margin: 8px 0;
  font-weight: 550;
  background-color: #94a9b451;
}
.main-messages .chat {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.main-messages .single-chat .reply-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main-messages .chat .shop-name {
  width: 60%;
  font-size: 18px;
}
.main-messages .chat .date {
  width: 75%;
  text-align: end;
}
/* End of right profile section styling (messages-section) */

/* Start of Message Reply Modal */
.reply-content {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  position: fixed;
  top: 25%;
  left: 40%;
}
.reply-content button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.reply-content .reply-message {
  height: 50px;
  width: 80%;
  margin-bottom: 20px;
}
.reply-content img {
  width: 82px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.send {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  cursor: pointer;
}
.disable-pointer {
  pointer-events: none;
}
/* START OF MEDIA QUERIES FOR REPLY MESSAGE */

/* END MEDIA QUERIES FOR REPLY MESSAGE */
@media only screen and (max-width: 900px) {
  .reply-content {
    left: 30%;
  }
}
/* End of Message Reply Modal */

/* Edit Profile modal */
.edit-profile-popup img {
  cursor: pointer;
}
.edit-profile-popup .reply-message {
  font-size: 20px;
}
.edit-profile-popup .profile-new-name {
  text-transform: uppercase;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Profile HTML MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  .main-profile {
    flex-direction: column;
    align-items: center;
  }
  .main-profile .left-profile {
    width: 80%;
  }
  .main-profile .main-messages {
    width: 80%;
  }
}
/* End of Profile HTML MEDIA QUERIES */
