/* ------CSS RESET------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #355c7b;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
input {
  border: none;
}
::placeholder {
  color: #355c7b;
  opacity: 0.4;
  font-size: 20px;
  padding-left: 10px;
}
p {
  margin: 10px 0;
}

/* ------UTILITIES------ */
.blue-bg {
  background-color: #355c7b;
}
.orange-bg {
  background-color: #f79106;
}
.grey-bg {
  background-color: #94a9b4;
}
.antiquewhite-bg {
  background-color: #eaeada;
}
.blue-text {
  color: #355c7b;
}
.antiquewhite-text {
  color: #eaeada;
}
.grey-text {
  color: #94a9b4;
}
.btn {
  height: 57px;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-lg {
  width: 350px;
}
.btn-md {
  width: 230px;
}
.size-32 {
  font-size: 32px;
}
.input {
  border-radius: 10px;
  color: #355c7b;
  background-color: #eaeada;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  height: 70px;
}
.display-flex {
  display: flex;
}
.danger {
  border: 1px solid red;
}

/* ------START OF REGISTER.HTML STYLING------ */
.main {
  display: flex;
  text-align: center;
  font-weight: bold;
  height: 100vh;
}
.main .logo {
  width: 350px;
  height: 290px;
  margin-bottom: 0;
}

/* Left Section */
.left-section {
  width: 50%;
}
.left-section .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.left-section .register {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #355c7b;
}
.left-section .bottom {
  height: 50%;
}
.left-section .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-section .bottom .top {
  gap: 2em;
}
.left-section .bottom .text {
  text-align: center;
  font-size: 22px;
  opacity: 0.8;
  padding: 0 20px;
}

/* Right section */
.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
}
.right-section .logo {
  position: absolute;
  top: 0;
}
.right-section .main-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  border-top: 1px solid #355c7b;
  border-bottom: 1px solid #355c7b;
}
/* Modal */
.register-modal {
  height: 90%;
  width: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* login modal */
.login-content {
  display: flex;
  justify-content: center;
}
.login-content .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 50%;
  width: 80%;
}

/* Signup Modal */
.signup-modal {
  justify-content: space-evenly;
  height: 90%;
  gap: 1em;
  padding-top: 10px;
}
.signup-modal .input {
  height: 55px;
  margin-bottom: 10px;
  width: 80%;
}
.signup-modal .input::placeholder {
  font-size: 18px;
}

.signup-modal .signup-img {
  border-radius: 50%;
  width: 100px;
  cursor: pointer;
}

/* Seller login modal */
.seller-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 85%;
}
.seller-login .input {
  height: 60px;
  margin-bottom: 10px;
}
.seller-login .input::placeholder {
  font-size: 18px;
}
.seller-login .title {
  font-size: 35px;
}
.right-section .icon {
  width: 110px;
  height: 110px;
}
/* right section - reset password modal */
.reset-modal {
  height: 50%;
  justify-content: space-around;
}
.reset-modal .middle {
  width: 70%;
}
.reset-modal .bottom {
  display: flex;
  justify-content: center;
  max-width: 80%;
}
/* Utility - placed at end to overwrite all previous display */
.display-none {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  .mobile-columns {
    flex-direction: column;
  }
  .mobile-width {
    width: 100%;
  }
  .right-section {
    height: 100%;
  }
  .modal-mobile {
    width: 70%;
  }
  .left-section .register {
    width: 90%;
  }
  .register .btn {
    width: 90%;
  }
}

/* ------END OF REGISTER.HTML STYLING------ */

/* -------START OF CART HTML STYLING------ */
.cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* Start of Cart container */
.cart-page .cart-container {
  border: 1px solid blue;
  width: 90%;
}
.cart-container .cart-titles ul {
  display: flex;
  justify-content: space-around;
}
.cart-item {
  display: flex;
  justify-content: flex-start;
  height: 150px;
}
.cart-item .item-remove {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
}
.cart-item .item-info {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-item .item-quantity {
  flex-basis: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .price-item {
  flex-basis: 16.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .discount-code {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .item-total {
  flex-basis: 13%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Cart container */

/* Start of Cart checkout */
.cart-btn {
  border: none;
  height: 40px;
  width: 130px;
  background-color: #355c7b;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
}
.cart-checkout {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checkout-top .cart-total{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 40px;
    width:150px;
  font-weight: bold;
  border-radius: 7px;
}
.checkout-top .cart-total label{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.checkout-top .cart-total{

}
.checkout-top .cart-total .items-total{

}
.cart-checkout .checkout-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-checkout .vouchers-total {
  width: 65%;
}
.cart-checkout .vouchers-total .voucher-submit {
  border-left: 0;
  border-radius: 0;
}

.cart-checkout .vouchers-total input {
  border: none;
  background-color: #eaeada;
  width: 60%;
  height: 40px;
  border-right: 0;
}
.cart-checkout .checkout-bottom {
  width: 100%;
  text-align: end;
}
.cart-checkout .checkout-bottom .checkout-submit{
  width:150px;
}
/* End of Cart checkout */

/* -------END OF CART HTML STYLING------ */
