/* ------CSS RESET------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: #355c7b;
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 70px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  input {
    border: none;
  }
  
  ::placeholder {
    color: #355c7b;
    opacity: 0.4;
    font-size: 20px;
    padding-left: 10px;
  }
  

  
  /* ------UTILITIES------ */
  
  .blue-bg {
    background-color: #355c7b;
  }
  
  .orange-bg {
    background-color: #f79106;
  }
  
  .grey-bg {
    background-color: #94a9b4;
  }
  
  .antiquewhite-bg {
    background-color: #eaeada;
  }
  
  .blue-text {
    color: #355c7b;
  }
  
  .antiquewhite-text {
    color: #eaeada;
  }
  
  .grey-text {
    color: #94a9b4;
  }
  
  .btn {
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .input {
    border-radius: 10px;
    color: #355c7b;
    background-color: #eaeada;
    border: none;
    width: 100%;
    margin: 5px;
    height: 70px;
  }
  
  .flex {
    display: flex;
  }

  .column{
    flex-direction: column;
  }

  .section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hide{
    display: none;
  }

    /* START OF PRODUCTS.HTML */

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.pageContent{
    align-items: center;
}

.container{
  background-color: #eaeada;
  align-items: center;
}

  /* Header */

.header{
  width: 100%;
  height: 15vh;
  justify-content: space-between;
  padding: 0 6vh;
}

.logo{
    height: 70%;
    margin: 30px 10px 10px 10px;
    align-self: center;
}

.header > .logo > img{
    height: 100%;
}

.header-top-right{
    width: 30vw;
    align-items: center;
    padding-right: 0 5%;
    justify-content: space-between;
}

.LoginBtn{
    height: 50%;
    width: 40%;
    max-width: 150px;
    font-size: 10px;
    padding: 0;
}

.eclipse{
    height: 50%;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
}

.eclipse > img{
    margin-top: 1%;
    height: 60%;
}

.eclipse:hover{
    background-color: rgba(0,0,0,20%);
}


/* Navbar */

.navbar{
    width: 100%;
      height: 5vh;
      display: flex;
      justify-content: center;
  }
  
  .navElements li{
      height: 100%;
      width: 15%;
      display: inline;
  }
  
  .navElements > li > button{
      height: 100%;
      width: 15vw;
      background-color: rgba(0,0,0,0);
      border: 0;
      font-size: 100%;
  }
  
  .navElements > li > button:hover{
      background-color: rgba(0,0,0,20%);
      cursor: pointer;
  }
  

/* Hero Section */

.heroSection{
    margin-top: 5vh;
    width: 90vw;
    height: 70vh;
    background-image: url("/client-frontend/assets/Hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    display: flex;
}

.fade{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 145, 6,50%);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.heroContent{
    width: 70%;
    text-align: center;
}

.heroContent > p{
    font-size: 8vh;
    color: white;
}

.heroContent > input{
    height: 8vh;
    width: 60%;
    margin-top: 3vh;
    padding-left: 10px;
    border-radius: 4vh;
    font-size: 3vh;
    text-align: start;
}


.heroContent > input::placeholder{
    color: #94a9b4;
}


/* Products Section */

.productSection{
    margin: 8vh 0;
    display: grid;
    row-gap: 20px;
    grid-template-rows: auto;
    align-items: flex-end;
    justify-items: center;
}

.sectionTitle{
    font-size: 8vh;
    margin-top: 8vh;
}

.wrapper{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.productCard{
    width: 40vh;
    height: 50vh;
    margin: 2vh;
    padding: 2vh 1.5vh;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 70% 30%;
    transition: 0.3s ease-in-out;
    align-self: center;
}

.productMainImage{
    height: 100% ;
    width: 100%;
}

.productCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.productInfo{
    display: grid;
    row-gap: 1vh;
    padding: 4% 3%;
    font-size: 3vh;
}

.productInfo:nth-child(2)>:nth-child(1){
    font-size: 4vh;
    margin: 0;
}

.bottom{
    align-self: start;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like{
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    background-color: rgb(182, 182, 182);
}

.productCard:hover{
    width: 38vh;
    background-color: #355c7b;
}

  

/* Ads Section */

.adSection{
    display: flex;
    margin: 2vh 0;
    width: 100%;
    height: 40vh;
    background-color: #355c7b;
  
}
.productAdImage{
    height: 100%;
    width: 50%;
    background-color: white;
}

.productAdImage > .fade{
    border-radius: 0%;
}

.productAdImage > .fade > img{
    height: 100%;
    width: 100%;
}

.adInfo{
    font-size: 5vh;
    justify-content: space-between;
    width: 50%;
}

.adSeller{
    margin: 4vh 0 0 4vh;
    align-self: start;
}

.AdView{
    align-self: end;
    margin: 0 4vh 4vh 0;

}

.AdView > button{
    width: 80%;
    font-size: 3vh;
}

/* Footer */

.footer{
    width: 100%;
    height: 40vh;
    margin-top: 20vh;
}

.footerLogo{
    margin: 8vh 0;
    width: 30%;
    height: 60%;
    align-items: center;
}

.footerLogo > img{
    width: 70%;
}

.footerLogo > p{
    margin-top: 4vh;
    font-size: 3vh;
}

.break{
    width: 100%;
    height:4vh;
}

.footerElements{
    width: 30%;
    align-items: center;
    justify-content: center;
}

.footerElements > ul > li{
    margin: 5vh 0;
    font-size: 3.5vh;
    color: antiquewhite;
}

.footerMessage{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
    justify-content: center;
}

.footerMessage > p{
    font-size: 3.5vh;
    color: antiquewhite;
}

.footerMessage > input{
    width: 70%;
    font-size: 3vh;
    height: 15vh;
    border-radius: 20px;
    margin: 2vh 0;
    background-color: antiquewhite;
}

.footerMessage > button{
    height: 8vh;
    width: 20vh;
    font-size: 4vh;
}
  